<div class="main-login main-center">
  <form class="form-horizontal" [formGroup]="form">

    <label>
      <h2>Add Dish</h2>
    </label>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="name" class="control-label">Name</label>
        <dx-text-box type="text" id="name" class="form-control" formControlName="name"></dx-text-box>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="cusine" class="control-label">Cusine Type</label>
        <dx-select-box id="cusineType" class="form-control" formControlName="cusine" [dataSource]="cusineTypes"
          [searchEnabled]="true">
        </dx-select-box>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="timeToCook" class="control-label">Time Needed To Cook (in mins)</label>
        <dx-text-box mode="text" id="timeToCook" class="form-control" formControlName="timeToCook"></dx-text-box>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="hourlyRate" class="control-label">Hourly Price</label>
        <dx-text-box mode="text" id="hourlyRate" class="form-control" formControlName="hourlyRate"></dx-text-box>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Ingredients Needed</label>
        <dx-text-area id="ingredients" class="form-control" multi="true" formControlName="ingredients"></dx-text-area>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Utensils Needed To Cook</label>
        <dx-text-area id="utensils" class="form-control" multi="true" formControlName="utensils"></dx-text-area>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Special Instructions</label>
        <dx-text-area id="instructions" class="form-control" multi="true" formControlName="instructions"></dx-text-area>
      </div>
    </div>

    <div class="col-sm-12">
      <label for="image" class="control-label required">Dish Pictures</label>
      <input type="file" name="file" id="file" class="inputfile" (change)="uploadPicture($event)" accept=".png,.jpeg" />
    </div>

    <button class="btn btn-primary login-button" (click)="onSubmit()" [disabled]="!form.valid">Add</button>

  </form>
</div>