<div class="menu-panel">

        <div class="flex-container container-fluid">
                

                        <div class="col-md-3 flex-item" [routerLink]="['/main/view']">
                                <h3 >OnTheSpotCooking</h3>
                        </div>
                        <div class="col-md-6 flex-item">
                                <dx-text-box placeholder="Search For Food or Cusine" mode="search"></dx-text-box>
                        </div>
                        <div class="col-md-1 flex-item hover-color" [routerLink]="['/user/signup-cook']"><span>Become a cook</span></div>
                        <div *ngIf="!user" class="col-md-1 flex-item hover-color" [routerLink]="['/user/signup']"><span>SignUp</span></div>
                        <div *ngIf="user" class="col-md-1 flex-item hover-color" [routerLink]="['/user/signup']"><span>{{user.name}}</span></div>
                        <div *ngIf="!user" class="col-md-1 flex-item hover-color" [routerLink]="['/user/login']"><span>Login</span></div>
                        <div *ngIf="user" class="col-md-1 flex-item hover-color" (click)="logout()"><span>Log Out</span></div>
                
        </div>
</div>