

a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.group-header {
    font-weight: bold;
    font-size: 0.8em;
}

// Header 

.logo {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-panel {
    background-color: #00AAA7;
    color: #ffffff;
    border: 0px;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .logo-wrap {
        flex: auto;
        max-width: 161px; 
        padding-left: 15px;
        height: 26px;
    }
    .menu-wrapper {
        flex: auto;
        padding-left:15px;
        .menu-button {
            cursor:pointer;
            background: transparent;
            padding: 21px 12px 17px 12px;
            color: #dcdcdc;
            text-decoration: none;
            font-size: 12px;
            // &:hover {
            //     background: rgba(255,255,255,0.1);
            // }
        }
    }
}

// Login

.fullscreen-wrapper {
    color: white;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

.center {
    align-content: center;
}

h3 {
    //margin-top: 8px;
    text-align:center;
    margin:auto;
}

.menu-button {
    display: inline-block;
    position: relative;
}

// .col-md-2.menu-button {
//     margin-top: 6px;
//     text-align:center;
//     line-height: 5px;
//     //margin:auto;
// }

.col-md-1.menu-button {
    margin-top: 6px;
    text-align:center;
    //margin:auto;
}

// .col-md-1.menu-button:hover { 
//     background: #061832;
// }

// .col-md-2.menu-button:hover { 
//     background: #061832;
// }

.hover-color:hover {
    background-size: 100% 100%;
    color: #fff;
}

.hover-color {
    position: relative;
  display: inline-block;
  padding: 15px 15px;
  background-image: linear-gradient(#061832, #061832);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}

span {
    display: inline-block;
    vertical-align: middle;
  }

.col-md-3 {
    text-align: center;
    margin: auto;
}

:host {
    ::ng-deep {
        input.dx-texteditor-input {
            height: 50px;
        }
    }
}

.flex-container {
    display:flex;
    align-items: center; /* Vertical center alignment */
}