// .bannerStyle div {
//     background-color: #ccc;
//     background-size: cover !important;
//     height: 100%;
//   }
  
//   .bannerStyle img {
//     width: 100%;
//     height: 100%;
//   }

//   img {
//     width: 100%;
//   }
  
//   .bannerStyle h1 {
//     text-align: center;
//     background: rgba(0, 0, 0, 0.32);
//     color: white;
//     margin: 0;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .tile {
//     min-height: 25px;
//     background-color: #ccc;
//     background-size: cover !important;
//   }
  
//   .tile h1 {
//     text-align: center;
//     line-height: 200px;
//     background: rgba(0, 0, 0, 0.32);
//     color: white;
//     margin: 0;
//   }
  
//   h4 {
//     margin: 0;
//     padding: 10px 15px;
//     text-align: center;
//   }
  
//   p {
//     margin: 0;
//     padding: 0 15px 10px;
//     text-align: center;
//   }
  
//   .wBg {
//     background: white;
//   }
  
//   .container {
//     max-width: 1200px;
//     margin: 0 auto;
//   }
  
//   nav {
//     border-bottom: 1px solid #ccc;
//     position: fixed;
//     width: 100%;
//     top: 0;
//     background: white;
//     z-index: 12;
//   }
  
//   nav h1 {
//     margin: 0;
//     padding: 10px;
//     text-align: center;
//   }
  
//   .carBtn {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//     border-radius: 999px;
//   }
  
//   .leftRs {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//     border-radius: 999px;
//     left: 0;
//   }
  
//   .rightRs {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//     border-radius: 999px;
//     right: 0;
//   }
  
//   .leftRs1 {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//     border-radius: 999px;
//     right: 0;
//   }
  
//   .rightRs1 {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//     border-radius: 999px;
//     left: 0;
//   }
  
//   .myPoint {
//     list-style-type: none;
//     text-align: center;
//     padding: 12px;
//     margin: 0;
//     white-space: nowrap;
//     overflow: auto;
//     box-sizing: border-box;
//   }
//   .myPoint  li {
//       display: inline-block;
//       border-radius: 50%;
//       border: 2px solid rgba(0, 0, 0, 0.55);
//       padding: 4px;
//       margin: 0 3px;
//       transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
//       transition: 0.4s;
//   }
//   .myPoint  li.active {
//         background: #6b6b6b;
//         transform: scale(1.2);
//       }
  
//   .carouselHoved {
//     opacity: 0.4;
//   }
  
//   .myBannerPoint {
//     position: absolute;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     padding: 0;
//     color: beige;
//     justify-content: center;
//     list-style-type: none;
//     background: rgba(0, 0, 0, 0.34);
//     margin: 0;
//     padding: 10px;
//     box-sizing: border-box;
//   }
//   .myBannerPoint li {
//       background: #6b6b6b;
//       width: 50px;
//       height: 50px;
//       margin-right: 10px;
//   }
//   .myBannerPoint li.active {
//         transform: translateY(-10px);
//         transition: .3s ease all;
//   }
  

  .in-between-div {
    font-family: cursive;
    border-top: 1px black dotted;
    margin-top: 20px;
}

//   .start {
//     margin-top: 35px;
//     font-family: cursive;
// }

// .padding-h2 {
//     margin-top: 20px;
// }


/////////////////////////////////

.tile {
  min-height: 25px;
  background-color: #0a747294;
  background-size: cover !important;
  display: flex;
  padding-left: 20px;
  font-family: cursive;
    font-size: 22px;
    padding-left: 20px;
    font-weight: bold;
}

.small-title {
  min-height: 25px;
  background-color: #0a747294;
  background-size: cover !important;
  display: flex;
  /* align-items: center; */
  font-family: monospace;
  /* justify-content: center; */
  font-size: 13px;
  /* margin-right: 0px; */
  /* margin: 4px; */
  padding-left: 20px;
}

.small-right-top {
  display: flex;
  justify-content: flex-end;
  background-color: #01d0ffc7;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}

.small-right-bottom {
  display: flex;
  justify-content: flex-end;
  background-color: #d0d241;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
  float: right;
  bottom: 0;
  right: 0;
  position: absolute;
}

.small-left-bottom {
  display: flex;
  justify-content: flex-end;
  background-color: #01d0ffc7;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
  float: right;
  bottom: 0;
  left: 0;
  position: absolute;
}

.small-left-top {
  display: flex;
  justify-content: flex-end;
  background-color: #01d0ffc7;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
  float: right;
  top: 0;
  left: 0;
  position: absolute;
}

.content {
  position: relative;
}
// #content img {
//   position: absolute;
//   top: 0px;
//   right: 0px;
// }

ngu-tile.nguTile.item {
  //margin-left: 15px;
}

img {
  width: 100%;
}

.leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        left: 0;
    }
 
    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        right: 0;
    }


.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint  li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}
.myPoint  li.active {
      background: #6b6b6b;
      transform: scale(1.2);
    }

.start {
  margin-top: 35px;
  font-family: cursive;
}