<content>

    <div class="start" *ngIf="popularDishes">

        <h2>Popular Dishes</h2>
        <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="popularDishes">
            <ngu-tile *nguCarouselDef="let item;" (click)="routeTo(item)" class="nguTile">
                <div class="content">
                    <img [src]="item.images[0]">
                    <div class="small-right-top">Cusine: {{item.cusine}}</div>
                    <div class="small-right-bottom">Rating: {{item.rating}}</div>
                    <div class="small-left-bottom">Order Count: {{item.orderCount}}</div>
                    <!-- <div class="small-left-top">Rate: {{item.rate}}</div> -->
                </div>
                <div class="tile">{{item.name}}</div>
                <!-- <div class="small-title">Time Needed: {{item.timeToCook}} mins</div> -->
				<!-- <div class="small-title">Cook: {{item.cook}}</div> -->
				<div class="small-title">Cook: Alex</div>
                <div class="small-title">Hourly Rate: {{item.hourlyRate}}</div>
            </ngu-tile>
            <button NguCarouselNext class="rightRs">></button>
            <button NguCarouselPrev class="leftRs">
            </button>
            <ul class="myPoint" NguCarouselPoint>
                <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
                    (click)="myCarousel.moveTo(j)"></li>
            </ul>
        </ngu-carousel>
    </div>


    <div class="in-between-div" *ngIf="recentDishes">
        <h2 class="padding-h2">Recent Dishes</h2>
        <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="recentDishes">
            <ngu-tile *nguCarouselDef="let item;" (click)="routeTo(item)" class="nguTile">
                <div class="content">
                    <img [src]="item.images[0]">
                    <div class="small-right-top">Cusine: {{item.cusine}}</div>
                    <div class="small-right-bottom">Rating: {{item.rating}}</div>
                    <div class="small-left-bottom">Order Count: {{item.orderCount}}</div>
                    <!-- <div class="small-left-top">Rate: {{item.rate}}</div> -->
                </div>
                <div class="tile">{{item.name}}</div>
                <!-- <div class="small-title">Time Needed: {{item.timeToCook}} mins</div> -->
				<!-- <div class="small-title">Cook: {{item.cook}}</div> -->
				<div class="small-title">Cook: Alex</div>
                <div class="small-title">Hourly Rate: {{item.hourlyRate}}</div>
            </ngu-tile>
            <button NguCarouselNext class="rightRs">></button>
            <button NguCarouselPrev class="leftRs">
            </button>
            <ul class="myPoint" NguCarouselPoint>
                <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
                    (click)="myCarousel.moveTo(j)"></li>
            </ul>
        </ngu-carousel>
    </div>

    <!-- <div class="in-between-div">
        <h2 class="padding-h2">By Cusine</h2>
        <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="popularDishes">
            <ngu-tile *nguCarouselDef="let item;">
                <div class="tile">{{item.name}}</div>
            </ngu-tile>
            <button NguCarouselNext class="rightRs">></button>
            <button NguCarouselPrev class="leftRs">
                </button> <ul class="myPoint" NguCarouselPoint>
                    <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
                        (click)="myCarousel.moveTo(j)"></li>
                    </ul>
        </ngu-carousel>
    </div> -->

</content>