/**
  In the Codepen example the selector 'root-app' is used instead since it is not a real Angular application but just HTML markup
*/
 
 
:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}