<div *ngIf="$cmd" class="main-div">
		<img [src]="$cmd.images[0]">
		<div class="inner-div">
			<h1>Name: {{$cmd.name}}</h1>
			<h2>Cusine: {{$cmd.cusine}}</h2>
			<h2>Chef: Alex</h2>
			<h3>Rating: {{$cmd.rating}}</h3>
			<h3>Hourly Rate: {{$cmd.hourlyRate}}</h3>
			<h3>Ingredients: Chicken, Rice, Tomato..</h3>
			<h3>Order Count: {{$cmd.orderCount}}</h3>
		</div>
		<button class="btn btn-primary login-button" (click)="showRequestForm=!showRequestForm">Order</button>
		<!-- <button text="Take Quiz" (onClick)="takeQuiz()"></button> -->
	</div>
	<div style="clear: both;"></div>
	
	<div *ngIf="showRequestForm" class="main-login main-center main-div">
		<form class="form-horizontal" [formGroup]="form">
	  
		  <div class="form-group">
			<div class="col-sm-12">
			  <label for="timeNeeded" class="control-label">What time do you want to request the chef?</label>
			  <dx-date-box type="datetime" id="timeNeeded" class="form-control" formControlName="timeNeeded"></dx-date-box>
			</div>
		  </div>
	  
		  <div class="form-group">
			<div class="col-sm-12">
			  <label for="peopleCount" class="control-label">Number of poeple to cook for?</label>
			  <dx-text-box mode="text" id="peopleCount" class="form-control text-box-class" formControlName="peopleCount"></dx-text-box>
			</div>
		  </div>
	  
		  <button class="btn btn-primary login-button" (click)="onSubmit()" [disabled]="!form.valid">Request Chef</button>
	  
		</form>
	  </div>