.main-div {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;height: 361px;
    width: 948px;
    background: white;
    -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

img {
    width: 400px;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

.inner-div {
    margin: auto;
    margin-left: 30px;
    margin-top: 35px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: monospace;
    float: left;
    text-align: start;
}
body, html{
    height: 100%;
    background-repeat: no-repeat;
    //background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 70px;
    margin-bottom: 70px;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400; 
}

hr{
   width: 10%;
   color: #fff;
}

.form-group{
   margin-bottom: 15px;
}

label{
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login{
    margin-top: 100px;
    //background-color: #fff;
   /* shadows and rounded borders */
//    -moz-border-radius: 2px;
//    -webkit-border-radius: 2px;
//    border-radius: 2px;
//    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    float: left;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 600px;
   padding: 40px 40px;
   text-align: left;

}

.login-button{
   margin-top: 5px;
   height: 40px;
   width: 150px;
}

.main-login.main-center.main-div {
	max-width: 960px;
	margin: auto;
	margin-top: 25px;
	margin-left: 80px;
}


:host {
    ::ng-deep {
        input.text-box-class {
			width: 100px;
		}
    }
}