<div class="main-login main-center">
  <form class="form-horizontal" [formGroup]="form">

    <label>
      <h2><b>SignUp User</b></h2>
    </label>

    <div class="form-group" [ngClass]="displayFieldCss('name')">
      <div class="col-sm-12">
        <label for="name" class="control-label required">Name</label>
        <dx-text-box type="text" id="name" class="form-control" formControlName="name"></dx-text-box>
        <!-- <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform your name">
          </app-field-error-display> -->
      </div>
    </div>

    <div class="form-group" [ngClass]="displayFieldCss('email')">
      <div class="col-sm-12">
        <label for="email" class="control-label required">Email</label>
        <dx-text-box type="text" id="email" class="form-control" formControlName="email"></dx-text-box>
        <!-- <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
          </app-field-error-display> -->
      </div>
    </div>

    <div class="form-group" [ngClass]="displayFieldCss('password')">
      <div class="col-sm-12">
        <label for="password" class="control-label required">Password</label>
        <dx-text-box mode="password" id="password" class="form-control" formControlName="password"></dx-text-box>
        <!-- <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Please inform your password">
          </app-field-error-display> -->
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <div class="col-md-9" [ngClass]="displayFieldCss('address.street')">
          <label for="street" class="control-label required">Address</label>
          <dx-text-box type="text" id="street" class="form-control" formControlName="street"></dx-text-box>
          <!-- <app-field-error-display [displayError]="isFieldValid('address.street')" errorMsg="Please inform your address">
            </app-field-error-display> -->
        </div>

        <div class="col-md-3" [ngClass]="displayFieldCss('address.zipCode')">
          <label for="zipCode" class="control-label required">Zip Code</label>
          <dx-text-box type="text" id="zipCode" class="form-control" formControlName="zipCode"></dx-text-box>
          <!-- <app-field-error-display [displayError]="isFieldValid('address.zipCode')" errorMsg="Please inform your zip code">
            </app-field-error-display> -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4" [ngClass]="displayFieldCss('address.city')">
          <label for="city" class="control-label required">City</label>
          <dx-text-box type="text" id="city" class="form-control" formControlName="city"></dx-text-box>
          <!-- <app-field-error-display [displayError]="isFieldValid('address.city')" errorMsg="Please inform your city">
            </app-field-error-display> -->
        </div>

        <div class="col-md-4" [ngClass]="displayFieldCss('address.state')">
          <label for="state" class="control-label required">State / Province / Region</label>
          <dx-text-box type="text" id="state" class="form-control" formControlName="state"></dx-text-box>
          <!-- <app-field-error-display [displayError]="isFieldValid('address.state')" errorMsg="Please inform your state">
            </app-field-error-display> -->
        </div>

        <div class="col-md-4" [ngClass]="displayFieldCss('address.country')">
          <label for="country" class="control-label required">Country</label>
          <dx-text-box type="text" id="country" class="form-control" formControlName="country"></dx-text-box>
          <!-- <app-field-error-display [displayError]="isFieldValid('address.country')" errorMsg="Please inform your country">
            </app-field-error-display> -->
        </div>

      </div>

      <div class="form-group" [ngClass]="displayFieldCss('email')">
        <div class="col-sm-12">
          <label for="image" class="control-label required">Display Picture</label>
          <input type="file" name="file" id="file" class="inputfile" (change)="uploadPicture($event)" accept=".png,.jpeg" />
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block login-button" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
    <button class="btn btn-block login-button2" (click)="reset()">Reset</button>
  </form>
</div>