<div class="main-login main-center">
  <form class="form-horizontal" [formGroup]="form">

    <label><h2>Login</h2></label>
    <div class="form-group">
      <div class="col-sm-12">
        <label for="email" class="control-label">Email</label>
        <dx-text-box type="text" id="email" class="form-control" formControlName="email"></dx-text-box>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="password" class="control-label">Password</label>
        <dx-text-box mode="password" id="password" class="form-control" formControlName="password"></dx-text-box>
      </div>
    </div>

    <button class="btn btn-primary login-button" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>

  </form>
</div>