/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
    background-color: #F5F5F5;
  }
   
  router-outlet {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
    background: red;
  }

  * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
   }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002627;
    color: #00ff8b9c;
    text-align: center;
    height: 50px;
}